[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=GS Amplicons
GenericName=Amplicons
Comment=High-sensitivity variation detection from amplicon-based samples
Icon=fourfivefour-amplicons
Categories=454Products;Science;Other
MimeType=application/vnd.454.cwf

#The Exec is set by the installer
Exec=/opt/454/apps/amplicons/bin/amplicons
