[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=GS Reference Mapper
GenericName=Mapper
Comment=Map reads from 454 Sequencing runs to a genome of your choice.
Icon=fourfivefour-mapper
Categories=454Products;Science;Other
MimeType=application/vnd.454.cwf

#The Exec is set by the installer
Exec=/opt/454/apps/mapper/bin/gsMapper
